<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--section to create a whole bunch of icons for all sorts of uses-->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "4xgbdj89xr");
</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-XM6KCWK69H"></script>
<script defer >
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-XM6KCWK69H');
</script>

  <title>Blogs | All things Growth | Samriddhi Consulting</title>
  
  <meta name="description"
    content="  {% for page in site. posts %}    {% include postcard. html %}  {% endfor %}">

    <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@grosamriddhi">
  <meta name="twitter:creator" content="@grosamriddhi" />
  <meta name="twitter:description" content="At Samriddhi, we love to look forward and walk into uncharted territories to bring back innovative solutions for our partner clients" />
  <meta name="twitter:title" content="Blogs" />
  <meta name="twitter:image" content="https://samriddhiconsulting.com/assets/images/Samriddhi_Consulting_Logo.svg" />
  <meta name="twitter:url" content="https://samriddhiconsulting.com/blogs.html" />

  <meta property="og:title" content="Blogs"/>
  <meta property="og:image" content="https://samriddhiconsulting.com/assets/images/Samriddhi_Consulting_Logo.svg" />
  <meta property="og:url" content="https://samriddhiconsulting.com/blogs.html"/>
  <meta property="og:type" content="article">
  <meta property="og:image:height" content="627" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:site_name" content="All things Growth | Samriddhi Consulting"/>
  <meta property="og:description" content="At Samriddhi, we love to look forward and walk into uncharted territories to bring back innovative solutions for our partner clients" />
  <meta property="og:image:alt" content="Blogs" />

  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://samriddhiconsulting.com",
        "address": {
                      "@type": "PostalAddress",
                      "streetAddress": "DLF Phase 2",
                      "addressLocality": "Gurugram",
                      "addressRegion": "Haryana",
                      "postalCode": "122002",
                      "addressCountry": "India"
                    },
        "name": "All things Growth | Samriddhi Consulting",
        "description": "At Samriddhi, we love to look forward and walk into uncharted territories to bring back innovative solutions for our partner clients",
        "email": "connect@grosamriddhi.com",
        "logo": "https://samriddhiconsulting.com/assets/images/Samriddhi_Consulting_Logo.svg",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://samriddhiconsulting.com"
        },
        "telephone": "+1243541505",
        "sameAs": "http://grosamriddhi.github.io"
    }
</script>


  <link rel="alternate" type="application/rss+xml" href="https://samriddhiconsulting.com/feed.xml">

  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://samriddhiconsulting.com /sitemap.xml" />

  <link rel="stylesheet" href="/assets/css/styles.css">

  <style>

  </style>
</head>

<body class="">

  <header class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-light bg-white d-flex justify-content-around mx-2">
  <div class="order-1">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/Samriddhi_Consulting_Logo.svg" style="height: 3rem;" class="" alt="Samriddhi Consulting Logo">
    </a>
  </div>
  <div class="d-flex align-items-baseline justify-content-end order-md-3 order-2">
    <a href="Tel:+91-124-3541505" class="mx-2">
      <svg class="bi text-muted mx-2" fill="currentColor" style="height:2rem; width:2rem; ">
        <use xlink:href="/assets/icons/bootstrap-icons.svg#telephone" />
      </svg>
    </a>
    <form class="form-inline">
      <a type="button" class="mx-2" data-toggle="modal" data-target="#exampleModalLong">
        <svg class="bi text-muted mx-2" fill="currentColor" style="height:2rem; width:2rem; ">
          <use xlink:href="/assets/icons/bootstrap-icons.svg#search" />
        </svg>
      </a>
    </form>
    <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#mainHeaderToggler" aria-controls="mainHeaderToggler" aria-expanded="false" aria-label="Toggle navigation" style="height: 3rem;">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse order-3 order-md-2" id="mainHeaderToggler">
    <ul class="navbar-nav w-100 nav-tabs nav-fill ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Capabilities</a>
          <div class="dropdown-menu">
            
            <a href="/instructional_design" class="dropdown-item"> Instructional Design</a>
            
            <a href="/organisation_development" class="dropdown-item"> Organisation Development</a>
            
            <a href="/user_experience" class="dropdown-item"> User Experience</a>
            
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
        <div class="dropdown-menu">
            
            <a href="/instructional_design/curriculum_design" class="dropdown-item"> Curriculum Design</a>
            
            <a href="/instructional_design/jitl" class="dropdown-item"> Jit_L</a>
            
            <a href="/instructional_design/learning_architechture" class="dropdown-item"> Learning Architecture</a>
            
            <a href="/instructional_design/storyboard" class="dropdown-item"> Storyboard</a>
            
        </div>
      </li>
      
      <li class="nav-item">
        <a href="/about.html" class="nav-link " style="text-align: center;"> About Us</a>
      </li>
      
      <li class="nav-item">
        <a href="/blogs.html" class="nav-link active" style="text-align: center;"> Blogs</a>
      </li>
      
    </ul>
  </div>
</nav>

  </header>

  <div class="modal fade" tabindex="-1" id="exampleModalLong" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" role="search">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <script src="/assets/js/simple-jekyll-search.js" type="text/javascript"></script>
<div id="search-demo-container">
  <input class="form-control" type="text" id="search-input" placeholder="Search">
  <div class="mt-4" id="results-container"></div>
</div>

      </div>
    </div>
  </div>
</div>

  <div class="modal fade border-secondary" tabindex="-1" id="contactFormModal" data-keyboard="true" data-focus="true" aria-labelledby="contactFormModal" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-header text-center border-0 mb-0 pb-0">
          <h4 class="modal-title w-100 h2">Hello! Its great to connect</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="https://formspree.io/xjvrobjl" method="POST" class="">
          <div class="modal-body my-0 mx-0 py-0 px-0 ard border-0">
            <div class="form-group card-body text-center my-0">
              <label for="exampleInputEmail1">We're really excited to discuss<p class="mark">Blogs</p>Where can we reach you?</label>
              <input type="email" name="_replyto" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </br>
            <label for="exampleFormControlTextarea1">How can we be of assistance?</label>
            <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center border-0 mt-0 pt-0">
          <button type="submit" class="container-fluid btn btn-secondary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!--
<form action="https://formspree.io/xjvrobjl" method="POST" class="card border-secondary">
<div class="form-group card-body">
<label for="exampleInputEmail1" class="text-center">We're really excited to discuss<p class="text-center mark">Blogs</p>Where can we reach you?</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com" required>
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
<label for="exampleFormControlTextarea1">Its great to connect. How can we be of assistance?</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
</div>
<button type="submit" class="footer d-block container-fluid mt-2 btn btn-secondary">Submit</button>
</form>
-->

  <div class="card-columns">
  
    <a class="text-decoration-none" href="/organisation_development/trust-new-normal">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/trust-new-normal-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/trust-new-normal-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/trust-new-normal-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/trust-new-normal-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/trust-new-normal-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/trust-new-normal-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/trust-new-normal-post.jpg" style="" alt="Plant growing in front of a virtual meeting" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@sigmund">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Trust in the new normal</h5>
      <h6 class="card-subtitle mb-2 text-muted">Make room for more</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/vulnerability-trust">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/vulnerability-trust-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/vulnerability-trust-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/vulnerability-trust-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/vulnerability-trust-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/vulnerability-trust-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/vulnerability-trust-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/vulnerability-trust-post.jpg" style="" alt="silhouette of people following a leader on a hill" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@jaysung">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Vulnerability and trust</h5>
      <h6 class="card-subtitle mb-2 text-muted">The choices we make to build strong workplace relationships</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/being-vulnerable">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/naomi_osaka-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/naomi_osaka-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/naomi_osaka-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/naomi_osaka-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/naomi_osaka-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/naomi_osaka-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/naomi_osaka-post.jpg" style="" alt="tennis player naomi osaka hitting a forehand in practice" class="card-img-top" loading="lazy">
      
      <small><a href="https://www.flickr.com/people/133535073@N08">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Being Vulnerable</h5>
      <h6 class="card-subtitle mb-2 text-muted">Saying <i>I am weak</i>, takes courage</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/putting-universal-design-for-learning-into-action">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/udl_lego_blocks-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/udl_lego_blocks-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/udl_lego_blocks-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/udl_lego_blocks-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/udl_lego_blocks-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/udl_lego_blocks-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/udl_lego_blocks-post.jpg" style="" alt="building a design with different types of lego blocks" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@single_lens_reflex">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Putting Universal Design for Learning into Action</h5>
      <h6 class="card-subtitle mb-2 text-muted">How the three brain networks make learning ‘stick’</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/universal-design-for-learning-the-history-and-the-future">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/universal_design_for_learning_2post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/universal_design_for_learning_2post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/universal_design_for_learning_2post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/universal_design_for_learning_2post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/universal_design_for_learning_2post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/universal_design_for_learning_2post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/universal_design_for_learning_2post.jpg" style="" alt="Top-shot of a man lying on the floor" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@bonneville1983">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Universal Design for Learning: The history and the future </h5>
      <h6 class="card-subtitle mb-2 text-muted">The future of learning is changing, and how!</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/cognitive_biases_primer">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/Cognitive Biases_presentation_cover-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/Cognitive Biases_presentation_cover-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/Cognitive Biases_presentation_cover-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/Cognitive Biases_presentation_cover-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/Cognitive Biases_presentation_cover-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/Cognitive Biases_presentation_cover-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/Cognitive Biases_presentation_cover-post.jpg" style="" alt="Cover for the Cognitive Biases Primer presentation" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@alinnnaaaa">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Cognitive Biases Primer</h5>
      <h6 class="card-subtitle mb-2 text-muted">Types, watch-outs and work-arounds!​</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/celebrating_work_and_diversity">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/iwd_event-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/iwd_event-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/iwd_event-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/iwd_event-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/iwd_event-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/iwd_event-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/iwd_event-post.jpg" style="" alt="Cover image of the Certified Diversity Facilitator Event presentation" class="card-img-top" loading="lazy">
      
      <small><a href="https://www.linkedin.com/in/kramya/">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Celebrating work and diversity</h5>
      <h6 class="card-subtitle mb-2 text-muted">Many miles to go; enjoying every success</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/making_virtual_performance_management_count">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/virtual_performance_management-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/virtual_performance_management-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/virtual_performance_management-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/virtual_performance_management-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/virtual_performance_management-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/virtual_performance_management-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/virtual_performance_management-post.jpg" style="" alt="Two persons in a video call" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@dylanferreira">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Making Virtual Performance Management count</h5>
      <h6 class="card-subtitle mb-2 text-muted">One-on-one’s can be effective, even on a video call</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/general/changes_in_gtm_practice">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/gtm_changes_rough_sea-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/gtm_changes_rough_sea-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/gtm_changes_rough_sea-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/gtm_changes_rough_sea-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/gtm_changes_rough_sea-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/gtm_changes_rough_sea-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/gtm_changes_rough_sea-post.jpg" style="" alt="Crashing Waves" class="card-img-top" loading="lazy">
      
      <small><a href="https://www.pexels.com/@raybilcliff">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Adapting GTM practice to the New Normal</h5>
      <h6 class="card-subtitle mb-2 text-muted">We have had to adapt quickly to deal with the changes bought on by the pandemic</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/usher_in_the_era_of_agility">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/age_of_agility-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/age_of_agility-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/age_of_agility-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/age_of_agility-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/age_of_agility-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/age_of_agility-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/age_of_agility-post.jpg" style="" alt="A child building a rocket ship with blocks" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@stephanie_ecate">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Usher in the era of Agility</h5>
      <h6 class="card-subtitle mb-2 text-muted">2021 is the year of agility</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/universal_design_for_learning-an_introduction">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/universal_design_language_introduction-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/universal_design_language_introduction-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/universal_design_language_introduction-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/universal_design_language_introduction-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/universal_design_language_introduction-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/universal_design_language_introduction-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/universal_design_language_introduction-post.jpg" style="" alt="A child building a rocket ship with blocks" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/photos/nvKQ1kxheRc">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Universal Design for Learning - An Introduction</h5>
      <h6 class="card-subtitle mb-2 text-muted">Making learning design accessible to a diverse set of learners</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/unconscious_biases_and_the_conundrum_of_parenting">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/unconscious_biases-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/unconscious_biases-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/unconscious_biases-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/unconscious_biases-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/unconscious_biases-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/unconscious_biases-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/unconscious_biases-post.jpg" style="" alt="view of lots of different types of people" class="card-img-top" loading="lazy">
      
      <small><a href="https://unsplash.com/@dylu">Image Credit</a> </small>
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Unconscious biases and the conundrums of parenting</h5>
      <h6 class="card-subtitle mb-2 text-muted">Charity begins at home, but what about unconscious biases? This is me showing courage enough to look inside and reflect</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/bite-size_your_way_to_productivity">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/bite_sized-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/bite_sized-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/bite_sized-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/bite_sized-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/bite_sized-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/bite_sized-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/bite_sized-post.jpg" style="" alt="Ants breaking down a bit piece of sugar" class="card-img-top" loading="lazy">
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Bite-size your way to productivity</h5>
      <h6 class="card-subtitle mb-2 text-muted">There is only one way to eat an elephant - a bite at a time - Desmond Tutu</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/to_new_beginnings">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/path_lined_by_old_and_new_trees-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/path_lined_by_old_and_new_trees-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/path_lined_by_old_and_new_trees-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/path_lined_by_old_and_new_trees-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/path_lined_by_old_and_new_trees-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/path_lined_by_old_and_new_trees-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/path_lined_by_old_and_new_trees-post.jpg" style="" alt="a path lined by old and new trees" class="card-img-top" loading="lazy">
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">To New Beginnings</h5>
      <h6 class="card-subtitle mb-2 text-muted">The learning paradigm of 2020s is changing, and how!</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/of_cultures_and_new_hires">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/hiring_culture_fit-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/hiring_culture_fit-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/hiring_culture_fit-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/hiring_culture_fit-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/hiring_culture_fit-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/hiring_culture_fit-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/hiring_culture_fit-post.jpg" style="" alt="an unusually dressed job candidate" class="card-img-top" loading="lazy">
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">Of cultures and new hires</h5>
      <h6 class="card-subtitle mb-2 text-muted">There’s a lot of talk about culture fit, when it comes to hiring for our teams.</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/user_experience/design_thinking">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/design_thinking-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/design_thinking-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/design_thinking-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/design_thinking-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/design_thinking-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/design_thinking-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/design_thinking-post.jpg" style="" alt="brainstorming with coloured sticky notes" class="card-img-top" loading="lazy">
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">An introduction to Design Thinking</h5>
      <h6 class="card-subtitle mb-2 text-muted">First thoughts on a much talked about subject of Design Thinking!</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/organisation_development/workplace_warfare">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/diversity_workplaces-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/diversity_workplaces-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/diversity_workplaces-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/diversity_workplaces-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/diversity_workplaces-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/diversity_workplaces-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/diversity_workplaces-post.jpg" style="" alt="photo frames of different shapes and colours" class="card-img-top" loading="lazy">
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">The Workforce Mash-up!</h5>
      <h6 class="card-subtitle mb-2 text-muted">The unprecedented is happening. Workplaces today are seeing five generations together under one roof for the first time</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
    <a class="text-decoration-none" href="/instructional_design/the_neuroscience_of_leadership">
  <div class="card">
    <picture class="">
      <source srcset="/assets/images/neuroscience_of_leadership-post550.webp" type="image/webp"
        media="(max-width:550px)">
      <source srcset="/assets/images/neuroscience_of_leadership-post750.webp" type="image/webp"
        media="(max-width:750px)">
      <source srcset="/assets/images/neuroscience_of_leadership-post.webp" type="image/webp" media="(min-width:751px)">
      <source srcset="/assets/images/neuroscience_of_leadership-post550.jpg" type="image/jpg" media="(max-width:550px)">
      <source srcset="/assets/images/neuroscience_of_leadership-post750.jpg" type="image/jpg" media="(max-width:750px)">
      <source srcset="/assets/images/neuroscience_of_leadership-post.jpg" type="image/jpg" media="(min-width:751px)">
      <img src="/assets/images/neuroscience_of_leadership-post.jpg" style="" alt="brain neurons activating" class="card-img-top" loading="lazy">
      
    </picture>
    <div class="card-body">
      <h5 class="card-title">The Neuroscience of Leadership</h5>
      <h6 class="card-subtitle mb-2 text-muted">Why the human brain likes stories?</h6>
    </div>
    <div class="card-footer">
      <p class="pb-0 mb-0">Read More..</p>
    </div>
  </div>
</a>
  
<div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


  <script type="text/javascript" defer>
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '/search.json',
      searchResultTemplate: '<div class="card"><div class="card-body"><a href="{url}" title="{desc}">{title}</a></div></div>',
      noResultsText: 'No results found',
      limit: 10,
      fuzzy: true
    })
  </script>

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9103868.js"></script>
  <!-- End of HubSpot Embed Code -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:wght@600&family=Roboto:ital@0;1&display=swap"
    rel="stylesheet" defer>

</body>

</html>