<div class="parallax">
  <div class="container-fluid bg-transparent text-primary m-4">
    <div class="row">
      <div class="col-8 d-flex align-items-end justify-content-start">
        <h1 class="display-1">About</h1>
      </div>
      <div class="col-4 mx-0 px-0">
        <img src="\assets\images\home_leaf_background.png" class="img-fluid mx-0 px-0" alt="A Green Leaf symbolising growth" >
      </div>
    </div>
  </div>
</div>
<div class="container ">
  <p class="text-center display-4">Samriddhi focuses on enhancing business productivity through superior people capability.</p>
  <p class="text-center">Since 2016, we have partnered with several organisations to drive their businessobjectives and co-create their roadmap to success for the next stages of growth.We have been able to achieve this by investing time in understanding theorganisation’s priorities. Not only do we design effective people solutions, wepartner with the client organisations in the deployment and measurement of theintervention in order to make the change sustainable and impactful.</p>
</div>
<div class="card bg-light text-white d-flex justify-content-end">
  <img src="\assets\images\field_of_work.jpg" class="card-img" alt="Field of Work">
  <div class="card-img-overlay">
    <h5 class="card-title text-center display-3">Impact Areas</h5>
    <p class="card-text text-center">With expertise across industries, sectors, and geographies, we partner with organisations to solve their most important people capability challenges. Some ofthese solutions include</p>
  </div>
</div>
