<div class="jumbotron-fluid px-4 py-2 bg-white text-dark">
  <img src="\assets\images\Samriddhi_Icon.svg" class="img-fluid rounded float-right w-25" alt="A Green Leaf symbolising growth">
  <br>
  <h2 class="display-4 text-center pb-3">About</h2>
  <p class="lead text-justify">
    Samriddhi  enables organisations to unlock Sustainable Growth through Enhancing People Capability in Business Strategy Interventions. Our unique approach of placing robust, measurable business outcomes at the heart of our practice has helped create powerful, sustainable interventions for organisations. We do this by designing bespoke solutions centered in your business landscape and act as long-term partners who's incentives are aligned to meeting your business goals.
    {% if page.url != '/about.html' %}
      <a href="/about.html" class="text-secondary" role="button">Read More..</a>
    {% endif %}
  </p>
</div>
