<div class="container-fluid">
  <h2 class="display-4 text-center">What We Do</h2>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 my-4 justify-content-around">
      {% for service in site.capability %}
      <div class="col">
        <div class="card text-center h-100 border-0">
          <img
            srcset="{{ service.cover | replace: 'post', 'post550'}} 550w,
                    {{ service.cover | replace: 'post', 'post750'}} 750w
                    {{service.cover}} 1200w"
            src="{{ service.cover }}"
            sizes ="(max-width:650px) 550w, 750w, 1200w"
            class="card-img-top" alt="{{service.coveralt}}">
          <div class="card-body">
            <h5 class="card-title">{{service.title}}</h5>
            <p class="card-text">{{service.subtitle}}</p>
            <a href="{{service.url}}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
