<div class="fixed-bottom border-top pt-2 bg-white">
  <div class="collapse" id="contactForm">
    <div class="container py-2">
          {% include resource_form.html %}
    </div>
  </div>
  <div class=" d-flex justify-content-around">
      <a href="https://www.linkedin.com/company/samriddhi-consulting/" class="">
        <img src="\assets\images\LI-In-Bug.png" style="height: 2rem; " class="img-fluid">
      </a>
      <a href="https://twitter.com/grosamriddhi" class="">
        <img src="\assets\images\Twitter_Logo_Blue.png" style="height: 2rem; " class="img-fluid">
      </a>
      <a href="#" class="d-md-inline d-none">
        <small> <em>&copy; 2019 Samriddhi Consulting</em> </small>
      </a>
      <a href="Tel:+91-124-3541505">
        <svg class="bi text-primary" fill="currentColor" style="height:2rem; width:2rem; ">
          <use xlink:href="\assets\icons\bootstrap-icons.svg#telephone"/>
        </svg>
      </a>
      <a data-toggle="collapse" href="#contactForm" aria-controls="contactForm" aria-expanded="false" aria-label="Open Contact Form" role="button">
        <svg class="bi text-primary" fill="currentColor" style="height: 2rem; width:2rem;">
          <use xlink:href="\assets\icons\bootstrap-icons.svg#envelope"/>
        </svg>
      </a>
    </div>
  </div>
