
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="\assets\images\Samriddhi_Consulting_Logo.svg" width=auto height="30" class="d-inline-block align-top" alt="Samriddhi Consulting Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="mx-2" >{{site.title}}</span>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
        <li class="nav-item">
          <script async src="https://platform.linkedin.com/in.js"
          type="text/javascript"> lang: en_US</script>
          <script async type="IN/FollowCompany" data-id="18665154"></script>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/grosamriddhi?ref_src=twsrc%5Etfw"
          class="btn twitter-follow-button" data-size="large"
          data-show-screen-name="false" data-lang="en"
          data-show-count="false">Follow @grosamriddhi</a>
          <script async src="https://platform.twitter.com/widgets.js"
          charset="utf-8"></script>
        </li>
        <li class="nav-item">
          <a href="mailto:mail@grosamriddhi.com&subject=Hello" class="btn">
            <i class="material-icons">email</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="Tel:+91-124-3541505" class="btn">
            <i class="material-icons">call</i>
          </a>
        </li>
      </ul>
    </div>
</nav>
