
  <section class="card">
    <img
      srcset="{{ page.cover | replace: 'post', 'post550'}} 550w,
              {{ page.cover | replace: 'post', 'post750'}} 750w
              {{page.cover}} 1200w"
      src="{{ page.cover }}"
      sizes ="(max-width:650px) 550w, 750w, 1200w"
      class="card-img-top" alt="{{page.coveralt}}">
      <div class="card-body">
        <h5 class="card-title"><a class="stretched-link" href="{{ page.url }}">{{ page.title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{page.subtitle}}</h6>
      </div>
<!--
    <div class="card-footer text-muted">
      {% for cat in page.categories %}
      update the link in the below section
      <a class="btn btn-primary" href="#" role="button">{{cat}}</a>
      {% endfor %}
    </div>-->
  </section>
