<form action="https://formspree.io/xjvrobjl" method="POST" class="card border-secondary">
  <div class="form-group card-body">
    <label for="exampleInputEmail1">We're really excited to discuss {{page.title}} with you. Where can we reach you?</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <label for="exampleFormControlTextarea1">Its great to connect. How can we be of assistance?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>
  <div class="g-recaptcha container mx-auto" data-sitekey="6Lch_bMZAAAAABTz5oebt5vVymQskKg96zaRp3pw"></div>
  <button type="submit" class="footer d-block container-fluid mt-2 btn btn-secondary">Submit</button>
</form>
