<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ site.twitter }}" />
<meta name="twitter:creator" content="@{{author.twitter | default: site.twitter}}" />
<meta name="twitter:description" content="{{ page.subtitle | default: excerpt}}" />
<meta name="twitter:title" content="{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:image" content="{{ page.cover | default: site.cover}}" />
