<div class="container-fluid px-0 mx-0">
  <div class="container-fluid d-flex justify-content-center align-items-center mt-0 mx-0 bg-dark">
    <h2 class="display-1 text-white">Our Values</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="card col-md-4">
        <img src="\assets\images\trust.jpg" class="card-img-top" alt="Trust">
        <div class="card-body">
          <h3 class="card-title">Trust</h3>
          <p class="card-text">We care deeply about understanding our customers and build long term relations with them</p>
        </div>
      </div>
      <div class="card col-md-4">
        <img src="\assets\images\synergy.jpg" class="card-img-top" alt="Synergy">
        <div class="card-body">
          <h3 class="card-title">Synergy</h3>
          <p class="card-text">We believe that the problems are best solved by leveraging partnerships in today’s connected eco-system</p>
        </div>
      </div>
      <div class="card col-md-4">
        <img src="\assets\images\customer_centricity.jpg" class="card-img-top" alt="Customer Centricity">
        <div class="card-body">
          <h3 class="card-title">Customer Centricity</h3>
          <p class="card-text">We care deeply about understanding customer needs and building trusting relations with our clients</p>
        </div>
      </div>
    </div>
  </div>
</div>
