  <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
    <div class="card h-100">
        <div class="container-fluid d-flex flex-wrap justify-content-around">
      {% for co in item.organisation %}
        <a href="#" class="mx-md-4 my-md-2">
          <img src="{{co.image}}" alt="{{co.name}}" class="" width="auto" height="75rem" >
        </a>
      {% endfor %}
    </div>
    <br class="my-2">
    <div class="bg-secondary card-footer">
      <h3 class="text-center text-white pb-4 bg-secondary">{{item.sector}}</h3>
    </div>
  </div>
</div>
