$theme-colors: (
  "primary":    hsl(133,75%,30%),
  "secondary":  hsl(313, 75%, 30%),
  "success":    #007bff,
);
$gray-100: hsl(133,10%,90%);
$gray-200: hsl(133,10%,80%);
$gray-300: hsl(133,10%,70%);
$gray-400: hsl(133,10%,60%);
$gray-500: hsl(133,10%,50%);
$gray-600: hsl(133,10%,40%);
$gray-700: hsl(133,10%,30%);
$gray-800: hsl(133,10%,20%);
$gray-900: hsl(133,10%,10%);

$enable-responsive-font-sizes: true;
$enable-gradients: true;
$headings-font-family:        'Raleway', sans-serif;
