---
layout: default
category: Instructional Design
title: Instructional Design
subtitle: <code>art</code> of learner engagement<br><code>+</code><br><code>science</code> of how the brain works
cover: \assets\images\instructional_design_art_and_science-post.jpg
coveralt: A firing neuron
credits: https://unsplash.com/@halacious
endpoint: #
featured: yes
---
<div class="container-fluid card border-0">
  <img src="{{ page.cover }}" class="masthead" alt="{{ page.coveralt }}">
  <div class="card-img-overlay">
    <div class="jumbotron w-75 mx-auto bg-white text-black text-center mt-5">
      <h1 class="display-4">{{ page.title }}</h1>
      <h2 class="lead mx-auto">{{page.subtitle}}</h2>
    </div>
  </div>
</div>
<br class="my-4">

<div class="container-fluid my-4">
  <div class="row d-md-flex justify-content-around align-items-center">
    <h3 class=" col-md-7 text-justify my-4">Do your training programmes seem like a story, seamlessly woven into the fabric of your business strategy? Or are they standalone workshops making little impact on learners once they leave the physical or virtual classroom?</h3>
    <div class="col-md-4">
      <img class="img-fluid" style="max-height:60vh; object-fit:cover;" src="\assets\images\why_instructional_design.jpg" alt="A man lying on a desk with post its all over him and around him">
      <br>
      <span>Photo by <a href="https://unsplash.com/@villxsmil?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Luis Villasmil</a> on <a href="https://unsplash.com/s/photos/bored?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </div>
  </div>

  <br class="my-4">
  <h2 class="display-4 text-center my-4">Why Instructional Design</h2>
  <h3 class="text-center my-4">Samriddhi's instructional design practice applies systematic methodologies (rooted in instructional theories and models) to design and develop content, experiences, and evaluations to support the acquisition of new knowledge or skills – one that lasts beyond the learning environment and makes a sustainable impact on your business.</h3>
  <div class="row d-md-flex align-items-center justify-content-around">
    <div class="col-md-4 card border-0 text-center h-100">
      <svg class="bi card-img-top text-primary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#tools"/>
      </svg>
      <div class="card-body">
        <h3 class="card-title mt-2">Learning Science</h3>
        <p class="card-text"><span class="text-secondary mark">54</span> Theories</p>
        <p class="card-text"><span class="text-secondary mark">26</span> Models</p>
        <p class="card-text"><span class="text-secondary mark">3</span> Objective Taxonomies</p>
        <p class="card-text"><span class="text-secondary mark">18</span> Learning Domain Intricacies</p>
      </div>
    </div>
    <div class="col-md-2 h-100 text-center">
      <svg class="bi card-img-top align-self-center text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#plus"/>
      </svg>
    </div>
    <div class="col-md-4 card border-0 text-center h-100">
      <svg class="bi card-img-top text-primary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#brush"/>
      </svg>
      <div class="card-body">
        <h3 class="card-title">Art of Learning</h3>
        <p class="card-text"><span class="text-secondary mark">10000+</span> Learners</p>
        <p class="card-text"><span class="text-secondary mark">100+</span> Sessions</p>
        <p class="card-text"><span class="text-secondary mark">40+</span> Organisations</p>
        <p class="card-text"><span class="text-secondary mark">16</span> Formats</p>
      </div>
    </div>
  </div>
  <h3 class="text-center h5 my-4">Good ID is not about taking your Powerpoint slides and simply adding pretty pictures and quizzes. <br>It means building in the story that will take learners from wanting to be able to do something, to being able to do it, <br>and proving that they can! </h3>
  <h2 class="my-4 text-center">We apply the neuroscience of learning to make sure our learning ‘sticks’!</h3>
  </div>
  <hr class="my-4">

  <div class="container-fluid">
    <h2 class="display-4 text-center my-4">Our Work</h2>
    <div class="row d-md-flex align-items-center justify-content-around">
      <div class="col-md-7">
        <ul>
          {% for item in site.data.id_work.work %}
          <li class="h3">{{item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        {% include resource_form.html %}
      </div>
    </div>
  </div>
  <section>
    <div class="container-fluid">
      <h2 class="display-4 text-center">
        {% if page.category != page.title %}
        {% assign filtered_products = site.products | where: 'featured', true %}
        Featured
        {% else %}
        {% assign filtered_products = site.products | where: 'category', page.category %}
        Related
        {% endif %}
        Products</h2>
        <div class="container-fluid">
          <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 my-4 justify-content-around">
            {% for product in filtered_products %}
            {% include product_cards_section.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!--stuff we found interesting -->
    <div class="container-fluid">
      <h2 class="display-4 text-center my-4">Related Posts</h2>
      <div class="card-columns">
        {% assign rel_post = site.posts | where: 'category', page.category %}
        {% for post in rel_post %}
        <div class="card mb-4">
          <img src="{{post.cover}}" class="card-img-top" alt="{{post.coveralt}}">
          <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
            <p class="card-text">{{post.subtitle}}</p>
            <a href="{{post.url}}" class="stretched-link"></a>
          </div>
          <div class="card-footer text-muted d-flex justify-content-around">
            <a class="text-secondary">#Category</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
