---
layout: default
category: User Experience
title: User Experience
subtitle: Interactions that drive Consumer, Customer and Employee Delight
cover: \assets\images\ux-post.jpg
coveralt: Woman's hands drawing a wireframe
credits: https://unsplash.com/@kellysikkema
---
<!--
<div class="container-fluid my-4">
<h2 class="display-4 text-center my-4">User Interface Vs User Experience</h2>
<div class="row d-md-flex justify-content-around align-items-center">
<div class="col-4">
<img class="img-fluid float-right"src="https://upload.wikimedia.org/wikipedia/en/e/ef/The_Heinz_bottle.JPG" alt="A Bottle of Heinz Tomato Ketchup with the lid on the top">
</div>
<div class="col-2">
<p class="display-4 text-center">Vs</p>
</div>
<div class="col-4">
<img class="img-fluid float-left"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Heinz_USDA_Organic_Tomato_Ketchup.jpg/256px-Heinz_USDA_Organic_Tomato_Ketchup.jpg" alt="A Bottle of Heinz Tomato Ketchup with the lid on the bottom">
</div>
</div>
</div>
-->
<div class="container-fluid card border-0">
  <img src="{{ page.cover }}" class="masthead" alt="{{ page.coveralt }}">
  <div class="card-img-overlay">
    <div class="jumbotron w-75 mx-auto bg-white text-black text-center mt-5">
      <h1 class="display-4">{{ page.title }}</h1>
      <h2 class="lead mx-auto">{{page.subtitle}}</h2>
    </div>
  </div>
</div>
<br class="my-4">

<div class="container-fluid my-4">
  <div class="row d-md-flex justify-content-around align-items-center">
    <blockquote cite="https://www.nngroup.com/articles/definition-user-experience/" class="display-4 my-4 col-md-7">
      <span class="text-secondary">User experience</span> encompasses all aspects of the end-user's interaction with the company, its services, and its products.
    </blockquote>
    <div class="col-md-4">
      {% include resource_form.html %}
    </div>
  </div>

</div>
<br class="my-4">
<!--
<div class="container-fluid py-4 bg-light">
  <h2 class="display-4 text-center py-4">Our Approach</h2>
  <div class="row d-md-flex justify-content-around align-content-center">
    <div class="col-md-3 card text-center border-secondary">
      <svg class="bi card-img-top text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#bullseye"/>
      </svg>
      <h3 class="card-body card-title">Objective Driven</h3>
    </div>
    <div class="col-md-3 card text-center border-secondary">
      <svg class="bi card-img-top text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#funnel"/>
      </svg>
      <h3 class="card-body card-title">Mapped To Funnel</h3>
    </div>
    <div class="col-md-3 card text-center border-secondary">
      <svg class="bi card-img-top text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#person"/>
      </svg>
      <h3 class="card-body card-title">Through the User's Lens</h3>
    </div>
  </div>
</div>
-->
<hr class="my-4">
<div class="container-fluid my-4">
  <h3 class="display-4 text-center">We create <span class="text-secondary mark">Micro-Experiences</span> along AIDA transitions</h3>
  <div class="row d-flex align-items-center">
    <div class="card col-md-4 border-0">
      <img class="card-img-top"src="https://upload.wikimedia.org/wikipedia/commons/b/b3/The_Purchase_Funnel.jpg" alt="">
      <div class="card-footer">
        <a href="https://commons.wikimedia.org/wiki/File:The_Purchase_Funnel.jpg" title="via Wikimedia Commons">BronHiggs</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
      </div>
    </div>
    <div class="col-md-8 border-0">
      <p class="text-center h3">across</p>
      <div class="row">
        <div class="card col-md-6 border-0">
          <svg class="bi card-img-top text-secondary" fill="currentColor">
            <use xlink:href="\assets\icons\bootstrap-icons.svg#shop-window"/>
          </svg>
          <h3 class="card-body card-title text-center ">Human Interactions</h3>
        </div>
        <div class="card col-md-6 border-0">
          <svg class="bi card-img-top text-secondary" fill="currentColor">
            <use xlink:href="\assets\icons\bootstrap-icons.svg#layout-text-window"/>
          </svg>
          <h3 class="card-body card-title text-center ">Electronic Interfaces</h3>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center my-4">to turn Consumers, Customers and Employees into Brand Promoters</h3>
<p class="text-center py-4">User Experience as a field is still being defined, and so are our practices. We draw from our background in Marketing, Learning and Technology</p>
</div>
<!--
<section>
<div class="container-fluid">
<h2 class="display-4 text-center">
{% if page.category != page.title %}
{% assign filtered_products = site.products | where: 'featured', true %}
Featured
{% else %}
{% assign filtered_products = site.products | where: 'category', page.category %}
Related
{% endif %}
Products</h2>
<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 my-4 justify-content-around">
{% for product in filtered_products %}
{% include product_cards_section.html %}
{% endfor %}
</div>
</div>
</div>
</section> -->

<div class="container-fluid my-4">
  <h2 class="display-4 text-center my-4"> What We Do</h2>
  <div class="card-deck">
    <div class="card">
      <svg class="bi card-img-top text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#person-check"/>
      </svg>
      <div class="card-body">
        <h3 class="card-title text-center">Customer Experience</h3>
        <ul class="card-text">
          <li>Customer Acquistion Optimisation</li>
          <li>Customer Ambassdors as Delighted Brand Promoters</li>
          <li>Optimisation of Customer Service Process</li>
          <li>Identifying Adjacent growth opportunities</li>
          <li>Employees as Brand Ambassdors</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <svg class="bi card-img-top text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#person-plus"/>
      </svg>
      <div class="card-body">
        <h3 class="card-title text-center">Candidate Experience</h3>
        <ul class="card-text">
          <li>Offer Acceptance Rate Improvement</li>
          <li>Infant Attrition Reduction</li>
          <li>Reduced Cost per Hire</li>
          <li>Employees as Ambassdors</li>
          <li>Improvement of Recruitment Partner Experience</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <svg class="bi card-img-top text-secondary" fill="currentColor">
        <use xlink:href="\assets\icons\bootstrap-icons.svg#heart"/>
      </svg>
      <div class="card-body">
        <h3 class="card-title text-center">Employee Engagement</h3>
        <ul class="card-text">
          <li>Employee Productivity Improvement</li>
          <li>Attrition Reduction</li>
          <li>Building High-Performance Culture </li>
          <li>Employee Cost Optimisation</li>
          <li>Incresed Revenue and Profit per Employee</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--stuff we found interesting -->
<div class="container-fluid">
  <h2 class="display-4 text-center my-4">Related Posts</h2>
  <div class="card-columns">
    {% assign rel_post = site.posts | where: 'category', page.category %}
    {% for post in rel_post %}
    <div class="card mb-4">
      <img src="{{post.cover}}" class="card-img-top" alt="{{post.coveralt}}">
      <div class="card-body">
        <h3 class="card-title">{{post.title}}</h3>
        <p class="card-text">{{post.subtitle}}</p>
        <a href="{{post.url}}" class="stretched-link"></a>
      </div>
      <div class="card-footer text-muted d-flex justify-content-around">
        <a class="text-secondary">#Category</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
