---
layout: default
---
{% assign author = site.data.people[page.author] %}
<section>
  <div class="container-fluid  card ">
    <img
      srcset="{{ page.cover | replace: 'post', 'post550' }} 550w,
              {{ page.cover | replace: 'post', 'post750' }} 750w
              {{page.cover}} 1200w"
      src="{{ page.cover }}"
      sizes ="(max-width:650px) 550w, 750w, 1200w"
      class="masthead" alt="{{ page.coveralt }}">
    <div class="card-img-overlay">
      <div class=" jumbotron w-75 mx-auto bg-white text-black text-center mt-5">
        <h1 class="display-4">{{ page.title }}</h1>
        <hr>
        <div class="d-flex justify-content-around">
          <span class="align-baseline"> {{ author.firstname }} </span>
          <span class="align-baseline"> {{ page.date | date_to_string }} </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-9">
      <section class="float-left col-md-4 mb-md-4 mr-md-4">
        <div class="container border border-secondary rounded text-center">
          <img src="{{author.image}}" alt="{{author.firstname}} {{author.lastname}}" class="align-self-center w-50 w-sm-25 rounded-circle img-fluid">
          <div class="">
            <h2 class=" h3"><a href="{{ author.url }}"> {{author.firstname}} {{author.lastname}}<a></h2>
              <p class="text-nowrap">{{author.position}}</p>
              <br>
              {% for item in author.also %}
              <span class="muted"> {{item}}</span><br>
              {% endfor %}
            </div>
          </div>
        </section>
        <main>
          <h1 class="d-none">{{ page.title }}</h1>
          <article class="container-fluid text-black pt-2">
            <h2 class="h3 text-justify">{{page.subtitle}}</h2>
            <p class="lead text-justify">
              {{ content}}
            </p>
          </article>
        </main>
      </div>
      <aside class="col-md-3 border-md-left">
        <h2 class="h3 text-center py-2">You may also be interested in</h2>
        <section class="">
          {% for page in site.related_posts %}
          {% include postcard.html %}
          <br>
          {% endfor %}
        </section>
      </aside>
    </div>
  </section>
