---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% include resources_nav.html %}
    </div>
    <section class="col-md-8">
      <div class="jumbotron py-2">
        <h1 class="h3">{{ page.title }}</h1>
        <p class="lead">{{page.subtitle}}</p>
        <hr class="my-3">
        <p class="align-baseline"> {{ page.date | date_to_string }} </p>
      </div>
      <div class="my-2">
        {% for category in site.categories %}
        <a type="button" class="btn btn-primary" href="#">{{ category[0] }}</a>
        {% endfor %}
      </div>
      <img src="{{page.cover}}" class="img-fluid" alt="{{page.coveralt}}">
      {{ content }}
      {% include resource_form.html %}
    </section>
  </div>
</div>
